<tr #if ($velocityCount % 2 == 1) class="rowNormal ${issue.key}-tr" #else class="rowAlternate ${issue.key}-tr" #end >
    #foreach ($column in $columns)
        #set($params = $column)
        #set($ix1 = $params.indexOf('-'))
        #if( $ix1 > 0 )
            #set($column = $params.substring( 0, $ix1 ))
        #end
        
        #if( $tmpls.containsKey($column) )
            #parse($tmpls.get($column))
        #elseif( $issue.getGenericValue().containsKey($column) )
            <td style="text-align: center">$issue.getGenericValue().getString($column)</td>
        #else
            <td>You need to add a resource entry for "$column" on atlassian-plugin.xml</td>
        #end
    #end
</tr>